.cover__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  position: relative;
  margin: 0;
  padding: 0 15px;
  max-width: 288px;
  z-index: 2;
  color: white;
  text-decoration: none;
}

@media (min-width: 768px) {
  .cover__subtitle {
    font-size: 18px;
    line-height: 1.22;
    max-width: 360px;
  }
}

@media (min-width: 1024px) {
  .cover__subtitle {
    padding: 0 200px;
    margin: 0 auto;
  }
}
