.cover__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  text-align: center;
  font-style: normal;
  position: relative;
  margin: 0;
  padding: 0 15px;
  max-width: 80%;
  z-index: 2;
  color: white;
  text-decoration: none;
}

@media (min-width: 768px) {
  .cover__subtitle {
    font-size: 18px;
    line-height: 1.22;
    max-width: 47%;
  }
}

@media (min-width: 1024px) {
  .cover__subtitle {
    width: 40%;
    padding: 0 200px;
    margin: 0 auto;
  }
}

@media (min-width: 1280px) {
  .cover__subtitle {
    width: 35%;
  }
}