.intro__text{
    min-width: 288px;
}

@media (min-width: 768px) {
    .intro__text {
    max-width: 720px;
    }
  }
  
@media (min-width: 1024px) {
    .intro__text {
    max-width: 685px;
    }
  }
