.cover {
  width: 100%;
  position: relative;
  margin-bottom: 64px;
}

@media (min-width: 768px) {
  .cover {
    margin-bottom: 88px;
  }
}

@media (min-width: 1024px) {
  .cover {
    margin-bottom: 92px;
  }
}

@media (min-width: 1280px) {
  .cover {
    margin: 0 48px 92px;
    width: auto;
  }
}