.cover__background {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  position: relative;
  background-image: url(../../../images/cover/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 200px;
  margin-left: -16px;
  width: calc(100% + 32px);
  text-decoration: none;
  color: inherit;
  z-index: 0;
}

.cover__background::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgb(42, 44, 47, 0.3);
}

.cover__background:hover::before {
  background-color: rgb(42, 44, 47, 0.8);
}

.cover__background:hover {
  background-color: rgb(42, 44, 47, 0.2);
}

@media (min-width: 768px) {
  .cover__background {
    margin-top: 90px;
    margin-left: -24px;
    width: calc(100% + (25px * 2));
    min-height: 480px;
  }
}

@media (min-width: 1024px) {
  .cover__background {
    margin-top: 92px 0 0 -48px;
    width: calc(100% + (48px * 2));
    min-height: 640px;
  }
}

@media (min-width: 1280px) {
  .cover__background {
    margin-left: -100px;
    width: calc(100% + (100px * 2));
    min-height: 740px;
  }
}
