.footer {
  margin-top: 64px;
  color: #ffffff;
  padding: 0 16px 24px;
}

@media (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
    padding: 0 24px 24px;
  }
}

@media (min-width: 1024px) {
  .footer {
    margin-top: 94px;
    padding: 0 48px 24px;
  }
}
